.listItem {
    display: flex;
    align-items: center;
    box-shadow: black;
    height: 50px;

    &:hover{
        cursor: pointer;
        background-color: cornflowerblue;
    }
}

.list{
    padding: 15px;
}

.listItemTitle {
    font-size: large;
    margin-left: 15px;
}